@import "lib/all";

$headerHeight: 40px;
$sideWidth: 190px;
$blockPadding: 20px;

body{
    font-family: arial, sans-serif;
    font-size: 12px;
    line-height: 1.3;
    color: $textColor;
}
a{
    text-decoration: none;
    @include transition(all .3s ease);
    &:link,&:visited{
        color: #06d;
    }
    &:hover{
        text-decoration: underline;
        color: #bd2f21;
    }
}
h2, h3{
    font-weight: bold;
}
table{
    table-layout: fixed;
    width: 100%;
    th,td{
        padding: 8px;
        border: 1px solid $bdGray;
    }
    th{
        background-color: $bgGray;
    }
}
.tb-auto{
    width: auto;
}
.green{
    color: #199900;
}
.red{
    color: #bf1d22;
}
input,button,select,area{
    outline: none;
    margin: 0;
    vertical-align: middle;
}
.txt{
    border: 1px solid #bbb;
    height: 14px;
    line-height: 14px;
    padding: 5px 4px;
    &:focus{
        border-color: #999;
    }
}
select{
    height: 26px;
}
button{
    border: none;
}
.btn{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 15px;
    border-radius: 3px;
    background-color: #ddd;
    cursor: pointer;
}
.btn-info{
    color: #fff;
    background-color: #2480fa;
}
.btn-primary{
    background-color: #c0392b;
    color: #fff;
}
.choose-group{
    label{
        margin-right: 15px;
    }
    input{
        margin-right: 3px;
    }
}
// header
.header{
    overflow: hidden;
    background-color: #e74c3c;
    padding: 0 $blockPadding;
}
.logo,
.nav-item{
    float: left;
    font-family: $ffYahei;
    a{
        display: block;
        height: $headerHeight;
        line-height: $headerHeight;
        &:link,&:visited,&:hover{
            color: #fff;
            text-decoration: none;
        }
    }
}
.logo{
    float: left;
    width: $sideWidth - $blockPadding;
    a{
        font-size: 20px;
        font-weight: bold;
    }
}
.nav-lst{
    float: left;
}
.nav-item{
    float: left;
    a{
        padding: 0 20px;
        font-size: 14px;
        &:hover{
            background-color: darken(#e74c3c, 5%);
        }
    }
    &.active{
        a{
            background-color: #c0392b;
        }
    }
}
.log-in,
.log-form{
    float: right;
}
.log-in{
    color: #ccc;
    margin-top: 12px;
    display: none;
    a, span{
        margin-left: 10px;
    }
    a{
        &:link,&:visited,&:hover{
            color: #fff;
        }
    }
}
.log-form{
    margin-top: 7px;
    .txt{
        float: left;
        margin-right: 10px;
        border-color: #c0392b;
    }
}
.log-btn{
    float: left;
    padding: 0 10px;
    cursor: pointer;
    @include border-radius(2px);
    border: 1px solid #a72a1d;
    background-color: lighten(#a72a1d, 5%);
    @include box-shadow(inset 0 1px 0 #e74c3c);
    @include gradient-vertical(lighten(#a72a1d, 8%) 100%, lighten(#a72a1d, 5%) 0);
    color: #fff;
    height: 24px;
    line-height: 24px;
    &:hover{
        @include gradient-vertical(lighten(#a72a1d, 5%) 100%, lighten(#a72a1d, 8%) 0);
    }
}
// side
.side-wrap{
    width: $sideWidth;
    position: fixed;
    left: 0;
    top: $headerHeight;
    bottom: 0;
    background-color: #e9e9e9;
    @include box-sizing(border-box);
    @include box-shadow(inset -2px 0 37px #ddd);
    border-right: 1px solid #d0d0d0;
}
.side{
    padding: 15px 0;

}
.side-menu-item{
    a{
        display: block;
        padding: 10px $blockPadding;
        font-size: 14px;
        &:link,&:visited{
            color: #666;
        }
        &:hover{
            text-decoration: none;
            background-color: #ddd;
            color: #333;
        }
        .active &{
            background-color: #fff;
        }
    }
    &.active{
        a{
            margin-right: -1px;
            border-top: 1px solid #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
            &:link,&:visited,&:hover{
                color: #333;
            }
            &,&:hover{
                background-color: #fff;
            }
        }
    }
}

.tb-data{
    tr:hover{
        td{
            background-color: aliceblue;
        }
    }
}
.tb-form{
    width: 600px;
    th{
        text-align: right;
        line-height: 26px;
    }
}
.submit{
    padding: 10px 0;
}
.td-ope{
    a, span{
        margin: 0 5px;
    }
}
.error{
    color: #bf1d22;
}
.form-fluid{
    overflow: hidden;
    .txt, .error{
        float: left;
    }
    .error{
        margin-left: 10px;
        line-height: 26px;
    }
}
// main
.main-wrap{
    padding-left: $sideWidth;
}
.main{
    padding: 20px 30px;
}
.main-hd{
    margin-bottom: 15px;
    h2{
        font-size: 20px;
    }
}
.sub-hd{
    margin-bottom: 5px;
    h3{
        font-weight: bold;
    }
}
.section{
    margin-bottom: 20px;
}