@import "lib/all";

$headerHeight: 40px;
$sideWidth: 190px;
$blockPadding: 20px;

body{
    font-family: arial, sans-serif;
    font-size: 12px;
    line-height: 1.3;
    color: $textColor;
}
a{
    text-decoration: none;
    @include transition(all .3s ease);
    &:link,&:visited{
        color: #06d;
    }
    &:hover{
        text-decoration: underline;
        color: #bd2f21;
    }
}
.txt{
    outline: none;
    border: 1px solid #ccc;
    height: 14px;
    line-height: 14px;
    padding: 5px 4px;
}
// header
.header{
    overflow: hidden;
    background-color: #e74c3c;
    padding: 0 $blockPadding;
}
.logo,
.nav-item{
    float: left;
    font-family: $ffYahei;
    a{
        display: block;
        height: $headerHeight;
        line-height: $headerHeight;
        &:link,&:visited,&:hover{
            color: #fff;
            text-decoration: none;
        }
    }
}
.logo{
    float: left;
    width: $sideWidth - $blockPadding;
    a{
        font-size: 20px;
        font-weight: bold;
    }
}
.nav-lst{
    float: left;
}
.nav-item{
    float: left;
    a{
        padding: 0 20px;
        font-size: 14px;
        &:hover{
            background-color: darken(#e74c3c, 5%);
        }
    }
    &.active{
        a{
            background-color: #c0392b;
        }
    }
}
.log-in,
.log-form{
    float: right;
}
.log-in{
    color: #ccc;
    margin-top: 12px;
    display: none;
    a, span{
        margin-left: 10px;
    }
    a{
        &:link,&:visited,&:hover{
            color: #fff;
        }
    }
}
.log-form{
    margin-top: 7px;
    .txt{
        float: left;
        margin-right: 10px;
        border-color: #c0392b;
    }
}
.log-btn{
    float: left;
    padding: 0 10px;
    cursor: pointer;
    @include border-radius(2px);
    border: 1px solid #a72a1d;
    background-color: lighten(#a72a1d, 5%);
    @include box-shadow(inset 0 1px 0 #e74c3c);
    @include gradient-vertical(lighten(#a72a1d, 8%) 100%, lighten(#a72a1d, 5%) 0);
    color: #fff;
    height: 24px;
    line-height: 24px;
    &:hover{
        @include gradient-vertical(lighten(#a72a1d, 5%) 100%, lighten(#a72a1d, 8%) 0);
    }
}
// side
.side-wrap{
    width: $sideWidth;
    position: fixed;
    left: 0;
    top: $headerHeight;
    bottom: 0;
    background-color: #e9e9e9;
    @include box-sizing(border-box);
    @include box-shadow(inset -2px 0 37px #ddd);
    border-right: 1px solid #d0d0d0;
}
.side{
    padding: 15px 0;

}
.side-menu-item{
    a{
        display: block;
        padding: 10px $blockPadding;
        font-size: 14px;
        &:link,&:visited{
            color: #666;
        }
        &:hover{
            text-decoration: none;
            background-color: #ddd;
            color: #333;
        }
        .active &{
            background-color: #fff;
        }
    }
    &.active{
        a{
            margin-right: -1px;
            border-top: 1px solid #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
            &:link,&:visited,&:hover{
                color: #333;
            }
            &,&:hover{
                background-color: #fff;
            }
        }
    }
}

// main
.main-wrap{
    padding-left: $sideWidth;
}
.main{
    padding: $blockPadding;
}