/* line 7, ../sass/ads.scss */
body {
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 1.3;
  color: #333;
}

/* line 13, ../sass/ads.scss */
a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 16, ../sass/ads.scss */
a:link, a:visited {
  color: #06d;
}
/* line 19, ../sass/ads.scss */
a:hover {
  text-decoration: underline;
  color: #bd2f21;
}

/* line 24, ../sass/ads.scss */
h2, h3 {
  font-weight: bold;
}

/* line 27, ../sass/ads.scss */
table {
  table-layout: fixed;
  width: 100%;
}
/* line 30, ../sass/ads.scss */
table th, table td {
  padding: 8px;
  border: 1px solid #e6e6e6;
}
/* line 34, ../sass/ads.scss */
table th {
  background-color: #f1f1f1;
}

/* line 38, ../sass/ads.scss */
.tb-auto {
  width: auto;
}

/* line 41, ../sass/ads.scss */
.green {
  color: #199900;
}

/* line 44, ../sass/ads.scss */
.red {
  color: #bf1d22;
}

/* line 47, ../sass/ads.scss */
input, button, select, area {
  outline: none;
  margin: 0;
  vertical-align: middle;
}

/* line 52, ../sass/ads.scss */
.txt {
  border: 1px solid #bbb;
  height: 14px;
  line-height: 14px;
  padding: 5px 4px;
}
/* line 57, ../sass/ads.scss */
.txt:focus {
  border-color: #999;
}

/* line 61, ../sass/ads.scss */
select {
  height: 26px;
}

/* line 64, ../sass/ads.scss */
button {
  border: none;
}

/* line 67, ../sass/ads.scss */
.btn {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 15px;
  border-radius: 3px;
  background-color: #ddd;
  cursor: pointer;
}

/* line 76, ../sass/ads.scss */
.btn-info {
  color: #fff;
  background-color: #2480fa;
}

/* line 80, ../sass/ads.scss */
.btn-primary {
  background-color: #c0392b;
  color: #fff;
}

/* line 85, ../sass/ads.scss */
.choose-group label {
  margin-right: 15px;
}
/* line 88, ../sass/ads.scss */
.choose-group input {
  margin-right: 3px;
}

/* line 93, ../sass/ads.scss */
.header {
  overflow: hidden;
  background-color: #e74c3c;
  padding: 0 20px;
}

/* line 98, ../sass/ads.scss */
.logo,
.nav-item {
  float: left;
  font-family: arial, "Microsoft Yahei", sans-serif;
}
/* line 102, ../sass/ads.scss */
.logo a,
.nav-item a {
  display: block;
  height: 40px;
  line-height: 40px;
}
/* line 106, ../sass/ads.scss */
.logo a:link, .logo a:visited, .logo a:hover,
.nav-item a:link,
.nav-item a:visited,
.nav-item a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 112, ../sass/ads.scss */
.logo {
  float: left;
  width: 170px;
}
/* line 115, ../sass/ads.scss */
.logo a {
  font-size: 20px;
  font-weight: bold;
}

/* line 120, ../sass/ads.scss */
.nav-lst {
  float: left;
}

/* line 123, ../sass/ads.scss */
.nav-item {
  float: left;
}
/* line 125, ../sass/ads.scss */
.nav-item a {
  padding: 0 20px;
  font-size: 14px;
}
/* line 128, ../sass/ads.scss */
.nav-item a:hover {
  background-color: #e43725;
}
/* line 133, ../sass/ads.scss */
.nav-item.active a {
  background-color: #c0392b;
}

/* line 138, ../sass/ads.scss */
.log-in,
.log-form {
  float: right;
}

/* line 142, ../sass/ads.scss */
.log-in {
  color: #ccc;
  margin-top: 12px;
  display: none;
}
/* line 146, ../sass/ads.scss */
.log-in a, .log-in span {
  margin-left: 10px;
}
/* line 150, ../sass/ads.scss */
.log-in a:link, .log-in a:visited, .log-in a:hover {
  color: #fff;
}

/* line 155, ../sass/ads.scss */
.log-form {
  margin-top: 7px;
}
/* line 157, ../sass/ads.scss */
.log-form .txt {
  float: left;
  margin-right: 10px;
  border-color: #c0392b;
}

/* line 163, ../sass/ads.scss */
.log-btn {
  float: left;
  padding: 0 10px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #a72a1d;
  background-color: #bd2f21;
  -webkit-box-shadow: inset 0 1px 0 #e74c3c;
  -moz-box-shadow: inset 0 1px 0 #e74c3c;
  box-shadow: inset 0 1px 0 #e74c3c;
  background-image: -moz-linear-gradient(top, #ca3323 100%, #bd2f21 0);
  background-image: -webkit-linear-gradient(top, #ca3323 100%, #bd2f21 0);
  background-image: -o-linear-gradient(top, #ca3323 100%, #bd2f21 0);
  background-image: linear-gradient(to bottom, #ca3323 100%, #bd2f21 0);
  color: #fff;
  height: 24px;
  line-height: 24px;
}
/* line 175, ../sass/ads.scss */
.log-btn:hover {
  background-image: -moz-linear-gradient(top, #bd2f21 100%, #ca3323 0);
  background-image: -webkit-linear-gradient(top, #bd2f21 100%, #ca3323 0);
  background-image: -o-linear-gradient(top, #bd2f21 100%, #ca3323 0);
  background-image: linear-gradient(to bottom, #bd2f21 100%, #ca3323 0);
}

/* line 180, ../sass/ads.scss */
.side-wrap {
  width: 190px;
  position: fixed;
  left: 0;
  top: 40px;
  bottom: 0;
  background-color: #e9e9e9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset -2px 0 37px #ddd;
  -moz-box-shadow: inset -2px 0 37px #ddd;
  box-shadow: inset -2px 0 37px #ddd;
  border-right: 1px solid #d0d0d0;
}

/* line 191, ../sass/ads.scss */
.side {
  padding: 15px 0;
}

/* line 196, ../sass/ads.scss */
.side-menu-item a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
}
/* line 200, ../sass/ads.scss */
.side-menu-item a:link, .side-menu-item a:visited {
  color: #666;
}
/* line 203, ../sass/ads.scss */
.side-menu-item a:hover {
  text-decoration: none;
  background-color: #ddd;
  color: #333;
}
/* line 208, ../sass/ads.scss */
.active .side-menu-item a {
  background-color: #fff;
}
/* line 213, ../sass/ads.scss */
.side-menu-item.active a {
  margin-right: -1px;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}
/* line 217, ../sass/ads.scss */
.side-menu-item.active a:link, .side-menu-item.active a:visited, .side-menu-item.active a:hover {
  color: #333;
}
/* line 220, ../sass/ads.scss */
.side-menu-item.active a, .side-menu-item.active a:hover {
  background-color: #fff;
}

/* line 229, ../sass/ads.scss */
.tb-data tr:hover td {
  background-color: aliceblue;
}

/* line 234, ../sass/ads.scss */
.tb-form {
  width: 600px;
}
/* line 236, ../sass/ads.scss */
.tb-form th {
  text-align: right;
  line-height: 26px;
}

/* line 241, ../sass/ads.scss */
.submit {
  padding: 10px 0;
}

/* line 245, ../sass/ads.scss */
.td-ope a, .td-ope span {
  margin: 0 5px;
}

/* line 250, ../sass/ads.scss */
.main-wrap {
  padding-left: 190px;
}

/* line 253, ../sass/ads.scss */
.main {
  padding: 20px 30px;
}

/* line 256, ../sass/ads.scss */
.main-hd {
  margin-bottom: 15px;
}
/* line 258, ../sass/ads.scss */
.main-hd h2 {
  font-size: 20px;
}

/* line 262, ../sass/ads.scss */
.sub-hd {
  margin-bottom: 5px;
}
/* line 264, ../sass/ads.scss */
.sub-hd h3 {
  font-weight: bold;
}

/* line 268, ../sass/ads.scss */
.section {
  margin-bottom: 20px;
}
